@import url(fonts.css);
@import url(menu.css);

:root {
    --cfundo:#111111; /* Cor de fundo escura */
    --cfundo2:#202830; /* Cor de fundo secundária */
    --ctext:#f1f1f1; /* Cor do texto clara */
    --ctext2:#7c7c7c; /* Cor do texto esscura */
    --destaques:#e13238; /* Cor dos destaques */
    --detalhes:#ffcb05; /* Cor dos detalhes */
    --detalhes2:#ffcd05b7; /* Cor dos detalhes */
    --font1: "audiowide", sans-serif; /* Fonte principal do site */
    --font2: "Josefin Sans", sans-serif; /* Fonte secundária para títulos */
}
*{
    /* reset básico */
    box-sizing: border-box;
    margin:0px;
    padding:0px;
    /* textos */
    text-decoration: none;
    color: var(--ctext);
}
/* backgound and viewport width */
body{
    width: 95vw;
    background-color: var(--cfundo);
}
/* H's */
h1{
    font-family: var(--font1);
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
}

h2, h3, h4, h5, h6{
    font-family: var(--font2);
    font-weight: 700;
    text-align: center;
    margin: 10px 0;
}

/* textos */
p{
    font-family: var(--font2);
    font-size: 1.2rem;
    color: var(--ctext);
    text-align: center;
    line-height: 1.5;
    margin: 10px 0;
}

