@import url(fonts.css);


#title{
    font-family: var(--font1);
    color: var(--ctext);
    font-size: 2.5rem;
    text-align: center;
    margin: 20px 0;
}

.video {
  background-color: var(--cfundo2);
  margin: 0 auto 30px auto;
  padding: 20px;
  width: 80%;
  max-width: 800px; /* limite no PC */
  border-radius: 10px;
}

.video iframe {
  width: 100%;
  aspect-ratio: 16 / 9; /* mantém proporção certinha */
  border-radius: 10px;
  display: block;
}
